body > .container > .row
{
	border-radius: 4px;
}

footer
{
	height: 250px;
}

.jumbotron
{
	border-radius: 0;
}

.bg-jumbo
{
	background-color: #e9ecef;
}

#clinician-credentials tr:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.13);
}

#clinician-credentials td 
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

tr.edit-clinician
{
    height: 128px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

div.tab-buttons {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px 4px 2px 4px;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.1);
}

div.tab-buttons active {
    background-color: aquamarine;
}