body > .container > .row
{
	border-radius: 4px;
}

footer
{
	height: 250px;
}

.jumbotron
{
	border-radius: 0;
}

.bg-jumbo
{
	background-color: #e9ecef;
}

#clinician-credentials tr:nth-child(even)
{
    background-color: rgba(0, 0, 0, 0.13);
}

#clinician-credentials td 
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

tr.edit-clinician
{
    height: 128px;
}