
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="row justify-content-center">
    <div class="col-10 col-md-8 bg-light">
        <table class="egfrKey" style="width:100%" border="1">

            <tr>
                <th bgcolor="#66ff33">&gt;90</th>
                <th bgcolor="#99ff33">60-89</th>
                <th bgcolor="#ffff00">45-59</th>
                <th bgcolor="#ff9933">30-44</th>
                <th bgcolor="#ff6600">15-29</th>
                <th bgcolor="#cc0000">&lt;15 </th>
            </tr>
            <tr>
                <td>
                    Normal kidney function but urine findings or structural
                    abnormalities or genetic trait point to kidney disease
                </td>
                <td>
                    Mildly reduced kidney function, and other findings (as
                    for stage 1) point to kidney disease
                </td>
                <td>Moderately reduced kidney function</td>
                <td>Moderately reduced kidney function</td>
                <td>Severely reduced kidney function</td>
                <td>
                    Very severe, or endstage kidney failure
                </td>
            </tr>

        </table>

       
    </div>
</div>