@model DepSystems.Models.ManualPatientCredentials

<div class="row justify-content-center">
    <div class="col-10 col-md-8 bg-light">
        <h4 class="text-center">Create Patient Credentials</h4>

        <form asp-controller="Clinician" asp-action="ManualPatientCredentials">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group text-center">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

