@using DepSystems.Models;
@{
    ViewData["Title"] = "Upload Patients";
}

<div class="row justify-content-center bg-dark py-5">
    <div class="col-12">
        <h2 class="text-white text-center">Upload Patients</h2>
        <hr />
    </div>

    @*<div class="col-6">*@
        @*http://blog.stevensanderson.com/2010/01/28/editing-a-variable-length-list-aspnet-mvc-2-style/*@
        @*<partial name="_ManualPatientCredentialsPartial" model="new ManualPatientCredentials()" />
    </div>*@
    <div class="col-6">
        <partial name="_ImportPatientCredentialsPartial" model="new ImportPatientCredentials()" />
    </div>
</div>
