<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
        <partial name="_LoginPatient" model="new Patient()"/>
        <partial name="_LoginClinician" model="new Clinician()"/>
    </div>
</div>