@{
    Patient patient = new Patient();
    Clinician clinician = new Clinician();
}
@if (ViewData["Redirect"] != null)
{
    patient.RedirectLink = clinician.RedirectLink = (string)ViewData["Redirect"];
}


<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12">
        <div class="tab-buttons tab-group-2">
            <button class="btn btn-info" onclick="changeTab('partialSessionPatientLogin', 'tab-group-2', this)">Patient</button>
            <button class="btn" onclick="changeTab('partialSessionClinicianLogin', 'tab-group-2', this)">Clinician</button>
        </div>

        <div id="partialSessionPatientLogin" class="tab-group-2 pt-3" style="display: block;">
            <partial name="_LoginPatient" model="new Patient()" />
        </div>
        <div id="partialSessionClinicianLogin" class="tab-group-2 pt-3" style="display: none;">
            <partial name="_LoginClinician" model="new Clinician()" />
        </div>
    </div>
</div>