@model DepSystems.Models.Calculation
@{
    ViewData["Title"] = "eGFR Calculator - Home";
}

<div class="row justify-content-center bg-dark py-5">
    <!-- Calculator -->
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <form asp-action="Index" method="post">
            <div class="row">
                <!-- Age -->
                <div class="col-12 input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Age</span>
                    </div>
                    <input asp-for="Age" type="number" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="basic-addon1">
                </div>

                <!-- Gender -->
                <div class="col-12 input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Gender</label>
                    </div>
                    <select asp-for="Gender" class="custom-select" id="inputGroupSelect01">
                        <option selected>Choose...</option>
                        <option value="1">Female</option>
                        <option value="2">Male</option>
                    </select>
                </div>

                <!-- Ethnicity -->
                <div class="col-12 input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect02">Ethnicity</label>
                    </div>
                    <select asp-for="Ethnicity" class="custom-select" id="inputGroupSelect02">
                        <option selected>Choose...</option>
                        <option value="1">Black</option>
                        <option value="2">Other</option>
                    </select>
                </div>

                <!-- Creatine Level -->
                <div class="col-12 input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon2">Creatine</span>
                    </div>
                    <input asp-for="CreatineLevel" type="number" class="form-control" placeholder="Creatine" aria-label="Creatine" aria-describedby="basic-addon2">
                </div>

                <!-- Submission -->
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Calculate!</button>
                </div>
            </div>
        </form>
    </div>
    @if (Model != null)
    {
        <div class="col-12">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">eGFR Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Calculate()</td>
                    </tr>
                </tbody>
            </table>
        </div>

    }
</div>
