<!-- Footer -->
<!-- Source: https://mdbootstrap.com/docs/jquery/navigation/footer/ -->
<footer class="pt-4 bg-light">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Licensing & Credits</h5>
                <p>
                    Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a>
                    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
                </p>
            </div>

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Useful Links -->
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Useful Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.nhs.uk/conditions/kidney-disease/">NHS.uk - CKD</a>
                    </li>
                    <li>
                        <a href="https://ukidney.com/">UKidney.com</a>
                    </li>
                    <li>
                        <a href="https://www.kidney.org/">Kidney.org</a>
                    </li>
                    <li>
                        <a href="https://www.kidneyresearchuk.org/health-information/chronic-kidney-disease">KidneyResearchUK.org - CKD</a>
                    </li>
                </ul>
            </div>

            <!--<div class="col-md-3 mb-md-0 mb-3">
                <!-- Links -->
                <!--<h5 class="text-uppercase">Research</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Link 1</a>
                    </li>
                    <li>
                        <a href="#!">Link 2</a>
                    </li>
                    <li>
                        <a href="#!">Link 3</a>
                    </li>
                    <li>
                        <a href="#!">Link 4</a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        &copy; 2019 - <a asp-action="Index"> Alpha Team</a>
    </div>
</footer>