@using System.Globalization;
@using DepSystems.Enums;
@model DepSystems.Models.PatientDetails
@{
    ViewData["Title"] = "Personal Details";
    string dateString = (Model == null) ? DateTime.Now.ToString() : Model.DateOfBirth.ToString();
    dateString = dateString.Split(" ")[0];
}

<h4>Personal Details</h4>
<hr />

@if(Model == null)
{
    <div class="row justify-content-center">
        <div class="col-8 mb-4">
            You have not yet saved your personal details. Saving your details allows for faster interaction with the calculator and enables that possibility of recording
            your history of eGFR values.
        </div>
    </div>
}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-12 input-group mb-3">
                <div class="input-group-prepend">
                    <label asp-for="DateOfBirth" class="input-group-text"></label>
                </div>
                <input asp-for="DateOfBirth" value="@dateString" class="form-control" aria-describedby="DateOfBirthHelpBlock"/>
                <small id="DateOfBirthHelpBlock" class="form-text text-muted">
                    Your date of birth must be provided in the UK format (DD/MM/YYYY).
                </small>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="col-12 input-group mb-3">
                <div class="input-group-prepend">
                    <label asp-for="Gender" class="input-group-text"></label>
                </div>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList(typeof (Gender))" class="custom-select"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="col-12 input-group mb-3">
                <div class="input-group-prepend">
                    <label asp-for="Ethnicity" class="input-group-text"></label>
                </div>
                <select asp-for="Ethnicity" asp-items="Html.GetEnumSelectList(typeof (Ethnicity))" class="custom-select"></select>
                <span asp-validation-for="Ethnicity" class="text-danger"></span>
            </div>
            <div class="col-12 text-center">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <script>
        // Internally we store the date as dd/mm/yyyy, however, doing it this way creates it as mm/dd/yyyy
        // So in JS we have to convert it to the stored format so that it will display correctly
        var storedDate = $("#DateOfBirth").attr("value");
        storedDate = new Date(storedDate.substr(3, 3) + storedDate.substr(0, 3) + storedDate.substr(6, 4));
        // Adding 12 hours due to the timezone modifying the date once set as the html input
        storedDate.setHours(12);
        //console.log(storedDate);
        document.getElementById("DateOfBirth").valueAsDate = storedDate;
    </script>
}
