@using Microsoft.AspNetCore.Http
@using DepSystems.Enums

@model DepSystems.Models.Calculation
@{
    ViewData["Title"] = "Home";
}

<div class="row justify-content-center bg-dark py-5">
    <!-- Calculator -->
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <form asp-action="Index" method="post">
            <div class="row">
                <!-- Age -->
                <div class="col-12 form-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label asp-for="Age" class="control-label input-group-text" id="age-input"></label>
                        </div>
                        <input asp-for="Age" class="form-control" placeholder="Age" aria-label="Age" aria-describedby="age-input" />
                    </div>
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>

                <!-- Gender -->
                <div class="col-12 input-group mb-3">
                    <div class="input-group-prepend">
                        <label asp-for="Gender" class="input-group-text"></label>
                    </div>
                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList(typeof (Gender))" class="custom-select"></select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <!-- Ethnicity -->
                <div class="col-12 input-group mb-3">
                    <div class="input-group-prepend">
                        <label asp-for="Ethnicity" class="input-group-text"></label>
                    </div>
                    <select asp-for="Ethnicity" asp-items="Html.GetEnumSelectList(typeof (Ethnicity))" class="custom-select"></select>
                    <span asp-validation-for="Ethnicity" class="text-danger"></span>
                </div>

                <!-- Creatine Level -->
                <div class="col-12 form-group mb-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2">Creatine</span>
                        </div>
                        <input asp-for="CreatineLevel" type="number" class="form-control" placeholder="Creatine" aria-label="Creatine" aria-describedby="basic-addon2">
                    </div>
                    <span asp-validation-for="CreatineLevel" class="text-danger"></span>
                </div>

                <!-- Submission -->
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Calculate!</button>
                </div>
            </div>
        </form>
    </div>
    @if (Model != null && ViewData.ModelState.IsValid)
    {
    <div class="col-12">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">eGFR Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Calculate()</td>
                </tr>
            </tbody>
        </table>
        <table class="egfrKey" style="width:100%" border="1">

            <tr>
                <th bgcolor="#66ff33">&gt;90</th>
                <th bgcolor="#99ff33">60-89</th>
                <th bgcolor="#ffff00">45-59</th>
                <th bgcolor="#ff9933">30-44</th>
                <th bgcolor="#ff6600">15-29</th>
                <th bgcolor="#cc0000">&lt;15 </th>
            </tr>
            <tr>
                <td bgcolor ="white">
                    Normal kidney function but urine findings or structural
                    abnormalities or genetic trait point to kidney disease
                </td>
                <td bgcolor ="white">
                    Mildly reduced kidney function, and other findings (as
                    for stage 1) point to kidney disease
                </td>
                <td bgcolor ="white">Moderately reduced kidney function</td>
                <td bgcolor ="white">Moderately reduced kidney function</td>
                <td bgcolor ="white">Severely reduced kidney function</td>
                <td bgcolor ="white">
                    Very severe, or endstage kidney failure
                </td>
            </tr>

        </table>
    </div>

    }
</div>
